# Workflows, a.k.a. programming

## Loops

In [1]:
animals = ["lion", "tiger", "crocodile", "vulture", "hippo"]

In [2]:
len(animals)

5

In [3]:
animals[2:]

['crocodile', 'vulture', 'hippo']

In [4]:
for creature in animals:
    print(creature)

lion
tiger
crocodile
vulture
hippo

The above loop is equivalent to me typing:

In [5]:
creature = "lion"
print(creature)
creature = "tiger"
print(creature)
# ...
creature = "hippo"
print(creature)

lion
tiger
hippo

In [6]:
for animal in animals:
    print(animal)

lion
tiger
crocodile
vulture
hippo

In [7]:
for creature in animals:
    print(creature)
    print("still in the loop!")
print("not in loop any longer")

lion
still in the loop!
tiger
still in the loop!
crocodile
still in the loop!
vulture
still in the loop!
hippo
still in the loop!
not in loop any longer

Need to be consistent in indentation!

In [8]:
for creature in animals:
    print(creature)
        print("still in the loop!")
print("not in loop any longer")

IndentationError: unexpected indent (<ipython-input-8-94a35d63d2a4>, line 3)

In [9]:
for creature in animals:
    print(creature)

lion
tiger
crocodile
vulture
hippo

In [10]:
for creature in animals:
    print(creature + ", ")

lion,
tiger,
crocodile,
vulture,
hippo,

In [11]:
for creature in animals:
    print(creature + ", ", end="")

lion, tiger, crocodile, vulture, hippo,

In [12]:
for creature in animals:
    print(creature, end=", ")

lion, tiger, crocodile, vulture, hippo,

In [14]:
", ".join(animals)

'lion, tiger, crocodile, vulture, hippo'

## Conditional statements

In [15]:
for i in animals:
    if(i != "hippo"):
        print(i, end=', ')
    else:
        print(i)

lion, tiger, crocodile, vulture, hippo

In [17]:
a = 5
if a < 0:
    print("a is negative")
elif a == 0:
    print("a is zero")
else:
    print("a is positive")
print("outside of if statement")

a is positive
outside of if statement

In [18]:
a = -5
if a < 0:
    print("a is negative")
elif a == 0:
    print("a is zero")
else:
    print("a is positive")
print("outside of if statement")

a is negative
outside of if statement

In [19]:
a = 0
if a < 0:
    print("a is negative")
elif a == 0:
    print("a is zero")
else:
    print("a is positive")
print("outside of if statement")

a is zero
outside of if statement

Again: indentation matters!

In [20]:
a = 0
if a < 0:
    print("a is negative")
elif a == 0:
    print("a is zero")
else:
    print("a is positive")
    print("outside of if statement")

a is zero

## Functions

In [21]:
def add_two_numbers(a, b):
    return a+b

In [22]:
add_two_numbers(3, 5)

8

In [23]:
add_two_numbers()

TypeError: add_two_numbers() missing 2 required positional arguments: 'a' and 'b'

In [24]:
add_two_numbers(4, -17)

-13

## Challenge: write an absolute value function

In [25]:
abs(5)

5

In [26]:
abs(-5)

5

In [27]:
abs(-17)

17

In [28]:
abs(25)

25

In [29]:
def absolute_value(n): 
    if(n < 0):
        return n*-1 
    else:
        return n

In [30]:
def absolute_value(n):
    if n < 0:
        return -n
    else:
        return n

In [31]:
def absolute(x):
    if x < 0:
        return (x - 2*x)
    if x == 0:
        return 0
    if x > 0:
        return x

In [32]:
def absolute(x):
    if x < 0:
        return x - 2*x
    elif x == 0:
        return 0
    elif x > 0:
        return x

In [33]:
def absolute(x):
    if x < 0:
        return_value = x - 2*x
    if x == 0:
        return_value = 0
    if x > 0:
        return_value = x
    return return_value